body.app{
  background: dimgray;
  font-family: 'Tourney', Courier, monospace;
}


#application-wrapper {
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#application-wrapper section {
  margin: 0.5em;
}

#display-port {
  flex: 4;
  box-shadow: inset 0.5em 0.5em rgba(10, 10, 10, 0.6);
  border-radius: 2em;
  padding: 2em;
}

#display-port p {
  text-align: center;
  font-size: 1.4em;
  letter-spacing: 0.1rem;
  font-weight: bold;
  text-shadow: 0.1em 0.1em black;
  color: white;
}

@keyframes spin-colors {
  from {
    filter: hue-rotate(900deg);
  }
  to {
    filter: hue-rotate(0deg);
  }
}

.glass {
  background: skyblue;
}

.r,
.o,
.y,
.g,
.b,
.i,
.v {
  animation: 3s ease-in-out spin-colors;
}

.r {
  background: red;
}
.o {
  background: darkorange;
}
.y {
  background: yellow;
}
#display-port.y p {
  text-shadow: none;
  color: black;
}
.g {
  background: green;
}
.b {
  background: blue;
}
.i {
  background: indigo;
}
.v {
  background: darkviolet;
}

#control-panel {
  flex: 2;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#mission-wrapper {
  flex: 2;
}

#mission-control {
  width: 12rem;
  height: 12rem;
  border-radius: 6rem;
  color: white;
  background: crimson;
  font-size: 6em;
  text-align: center;
}

#supplies {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#supplies-icon {
  font-size: 1.6em;
  vertical-align: middle;
}


#supplies input,
#supplies button {
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: border-box;
  text-align: center;
}

#supplies input{
  font-size: 1.5rem;
  width: 5rem;
  font-family: 'Tourney', Courier, monospace;
}

#collection {
  display: flex;
}

.collection-item {
  display: none;
}

.collection-item + label {
  background: gray;
  font-size: 3em;
  box-sizing: border-box;
  flex: 1;
  justify-content: space-between;
  text-align: center;
  border-radius: .5rem;
}

.collection-item:checked + label {
  border: 2px solid greenyellow;
}
